
<div class="container" style=" width: 100%;">
        <div class="row">
            <div class="col-6"  >
                <div style=" font-size: 70px; margin-top: 100px; color:#271271; font-weight: bolder; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    ABOUT US
                </div>
                <div style=" margin-top: 20px; font-size: 25px; color:#271271; font-weight: lighter;">
                    V-Financing is a customer focused financing partner for emerging Indians. Our innovative technology powered financing solutions help multiple needs of our customers ranging from debt consolidation to educational needs to emergencies. We want to make sure that all creditworthy customers get fast, reliable and affordable loan options for all their life needs - along with great customer service.
                </div>
            </div>
           
            <div class="col-4" >
                <img src="../assets/illus.jpg" style="height: 550px; width: 550px;" alt="loan">
            </div>
        </div>
        
        <div class="row">
            <div class="col-6" >
                      <div style=" margin-top: 20px; font-size: 25px; color:#271271; font-weight: lighter;">
                          <img src="../assets/illus1.jpg" style="height: 550px; width: 550px;" alt="loan">
                       </div>             
            </div>
            
            <div class="col-4" >
                 <div style=" font-size: 70px; margin-top: 100px; color:#248794; font-weight: bolder; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    Our Expertise
                 </div>
               <div>
                   We are experts with extensive experience in financial services, investments and technology. We bring together practising knowledge of finance with technology to create a unique product that caters to a pressing requirement in India - access to fast, reliable and affordable credit. Our team members have led global teams at large banks as well as worked at world leaders in technology.
                </div>
            </div>
        </div>


</div>
<footer class="text-center bg-dark text-white ">
	<p class="mb-0">© All Copy Rights Reserved by V-Financing</p>
</footer>