<div class="login-page">

    <h1 class="text-capitalize text-center m-0  " style="background-color: yellow; border-style: solid;">Loan Rate</h1>
    <div *ngFor="let i of loanCards">
    <p class="text-capitalize text-center m-0" style="background-color: wheat;border-style:solid;">Loan Rate is {{i.rate}}% if Principal Amount is greater than Rs.{{i.amount}} lakh</p>
    </div>
    <mat-card class="mat-elevation-z12 mat1">
        <mat-card-title style="text-align:center;">Loan Register</mat-card-title>
        
          
              <mat-card-content class="mat3">
                <form action="" [formGroup]="registerForm">
                  <mat-form-field class="mat2">
                    <input
                      matInput
                      placeholder="Loan Amount"
                      type="number"
                      required
                      name="Amount"
                      formControlName="amount"
                      >
                      <mat-error
                      *ngIf="!registerForm.get('amount').valid && registerForm.get('amount').touched">
                      Please Enter a Valid Amount
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat2">
                    <input
                      matInput
                      placeholder="Rate without %"
                      type="number"
                      required
                      name="rate"
                      formControlName="rate">
                      <mat-error
                      *ngIf="!registerForm.get('rate').valid && registerForm.get('rate').touched">
                      Please Enter a Valid rate
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat2">
                    <input
                      matInput
                      placeholder="Time in Years"
                      type="number"
                      required
                      name="time"
                      formControlName="time">
                      <mat-error
                      *ngIf="!registerForm.get('time').valid && registerForm.get('time').touched">
                      Please enter a valid time
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat2">
                    <input
                      matInput
                      placeholder="Monthly Savings"
                      type="number"
                      required
                      name="monthlySavings"
                      formControlName="monthlySavings">
                      <mat-error
                      *ngIf="!registerForm.get('monthlySavings').valid && registerForm.get('monthlySavings').touched">
                      Please enter valid Monthy Savings
                    </mat-error>
                  </mat-form-field>
                  
                  <button
                    mat-raised-button
                    color="primary"
                    class="login-button">
                    Apply
                  </button>
    
                  
                </form>
              </mat-card-content>
      </mat-card>
    </div>